<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list >
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col width-66>
            <h2>Filet com fritas</h2>
          </ion-col>
          <ion-col width-33>
            <h2 text-right class="valor">R$ 48,90</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col width-66>
                <h2>Coca cola 290 ml</h2>
              </ion-col>
              <ion-col width-33>
                <h2 text-right class="valor">R$ 4,50</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
  </ion-list>

  <br>


  <ion-grid>
    <ion-row>
      <ion-col width-66>
        <h2>TOTAL</h2>
      </ion-col>
      <ion-col width-33>
        <h2 text-right>R$ 134,50</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab color="dark" icon-only (click)="gotocategorias()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

  <ion-footer (click)="fechar()">
  <ion-toolbar text-center color="primary">
    <h2 class="fut">Fechar Conta</h2>
  
  </ion-toolbar>
</ion-footer>

</ion-content>
