<ion-header>

  <ion-navbar color="primary">
    <ion-title>MENU</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  
  <ion-list>
    <ion-card (click)="gotoprodutos()" >
      <img src="http://www.mumbaifoodie.com/wp-content/uploads/2017/06/bira-91-light-350x150.jpg"/>
    </ion-card>

    <ion-card>
      <img src="https://thewholemeal.com/wp-content/uploads/2016/07/healthy-snacking-photo-350x150.jpg" />
    </ion-card>

    <ion-card>
      <img src="http://all-things-andy-gavin.com/wp-content/uploads/2017/09/i-S9qhfTx-X2-350x150.jpg" />
    </ion-card>

    <ion-card>
      <img src="https://s3.amazonaws.com/uploads.startups.fm/wp-content/uploads/2013/08/fastfood-strikers-thumb.jpg" />
    </ion-card>

    <ion-card>
      <img src="http://www.notesofalltypes.com/wp-content/uploads/2016/07/food-712667_1280-350x150.jpg" />
    </ion-card>

  </ion-list>

  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK0w3_mnqqWJvDxkTdilntP_Q7nqmkFlgrWMfE6IVSDCEYdfhVQQ" />
  </ion-card>



</ion-content>
