<ion-header>

  <ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button icon-only (click)="dism()" ><ion-icon name="md-close"></ion-icon></button>
    </ion-buttons>
    <ion-title>Saiba mais</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <a href="https://youtu.be/p_xeFYTJhdc"><ion-item>
      <ion-icon color="youtube" item-right name="logo-youtube"></ion-icon>
      Veja como funciona
    </ion-item></a>

    <ion-item (click)="telefone()">
      <ion-icon color="whatsapp" item-right name="logo-whatsapp"></ion-icon>
      Receber promoções
    </ion-item>

    <a href="mailto:contato@pedepop.com.br"><ion-item>
      <ion-icon item-right name="md-mail"></ion-icon>
      Mande um email
    </ion-item></a>

    <a href="http://www.mener.com.br"><ion-item>
      <ion-icon item-right name="md-globe"></ion-icon>
      Visite nosso site
    </ion-item></a>

  </ion-list>

</ion-content>
