<ion-header>

  <ion-navbar color="primary">
    <ion-title>MENU</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item text-right (click)="gotodetalhe()" >
    <ion-thumbnail item-start>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjKLz5_0ZMw4iycqzHsEkXcUgcuabh24vLKz9Lc98Xf5Fx8QBx">
    </ion-thumbnail>
    <h2>Filet a parmegiana</h2>
    <p>serve 2 pessoas</p>
    <h5 class="cor">R$ 110,90</h5>
  </ion-item>

    <ion-item text-right>
      <ion-thumbnail item-start>
        <img src="https://s3.amazonaws.com/academiadacarne/content/1448-file-oswaldo-aranha-com-farofa-e-chips.jpg">
      </ion-thumbnail>
      <h2>bife a oswaldo aranha</h2>
      <p>serve 2 pessoas</p>
      <h5 class="cor">R$ 36,40</h5>
    </ion-item>

      <ion-item text-right>
        <ion-thumbnail item-start>
          <img src="http://r1.vendingmarketwatch.com/files/base/image/AUTM/2011/05/16x9/1280x720/squarecokelogo_10277309.jpg">
        </ion-thumbnail>
        <h2>Coca Cola 600 ml</h2>
        <p>uma delícia</p>
        <h5 class="cor">R$ 5,00</h5>
      </ion-item>

  </ion-list>

</ion-content>
