<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      <img src="assets/img/letra.jpg" alt="letra">
    </div>
  </div>
  <div padding>
    <button class="buthome" (click)="scancode()" ion-button block color="primary" large>Ler QR Code</button>
  </div>
  <br><div text-center>
  <button ion-button clear (click)="gotosaiba()" ><em>SAIBA MAIS</em></button></div>

</ion-content>