<ion-content class="view-class" scroll="false" fullscream="true">
  <ion-fab top right>
    <button ion-fab (click)="voltar()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>

  <div class="app__layout">
    <!-- Header -->
    <!-- <header class="app__header">
              <span class="app__header-icon" onclick="window.open('https://github.com/code-kotis/barcode-scanner', '_blank', 'toolbar=0,location=0,menubar=0');">
                <svg fill="#FFFFFF" height="27" viewBox="0 0 24 24" width="27" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                </svg>
              </span>
            </header> -->

    <main class="app__layout-content">
      <video autoplay></video>

      <!-- Dialog  -->
      <!-- <div class="app__dialog app__dialog--hide">
                <div class="app__dialog-content">
                  <h5>QR Code</h5>
                  <input type="text" id="result">
                </div>
                <div class="app__dialog-actions">
                  <button type="button" class="app__dialog-open">Open</button>
                  <button type="button" class="app__dialog-close">Close</button>
                </div>
              </div> -->

      <div class="app__dialog-overlay app__dialog--hide"></div>

      <!-- Snackbar -->
      <!-- <div class="app__snackbar"></div> -->
    </main>
  </div>
  <div class="app__overlay">
    <div class="app__overlay-frame"></div>
    <!-- Scanner animation -->
    <div class="custom-scanner"></div>
    <div class="app__help-text">Aponte para o QR Code
      <!-- {{timerCount}} -->
    </div>
    <!-- <div class="app__select-photos">selecione a foto</div> -->
  </div>
</ion-content>