<ion-header>

  <ion-navbar text-center color="primary">
    <ion-title>{{restaurante}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <img src="https://pbs.twimg.com/profile_images/490269712140337152/KJvLiIdr_400x400.jpeg"/>
</ion-card>
<br>
  <h2 text-center>Mesa {{mesa}}</h2>
  <br>
  <div text-center><button ion-button round large (click)="gotocategorias()" >Menu</button></div>

<ion-list >
  <ion-item *ngFor="let o of ordensObservable | async">
    <h2>{{ o.valor }}</h2>
  </ion-item>
</ion-list>

</ion-content>
