<ion-header>

  <ion-navbar color="primary">
    <ion-title>MENU</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

<img src="http://www.insidethemagic.net/wp-content/uploads/2017/07/fwf220310LARGE-400x200.jpg" alt="imagem">
<h1 text-center>Filet com fritas</h1>
<h4 text-center>Serve 2 pessoas. Esse filet é a especialidade da casa.</h4>
<br>
<ion-item>
    <ion-label floating>Instrução especial</ion-label>
    <ion-input type="text"></ion-input>
</ion-item>
<div text-center>
<button ion-button round large (click)="gotoconta()" >Enviar pedido</button>
</div>

</ion-content>
